[Unit]
Description=Avahi/mDNS alias publisher
After=network.target avahi-daemon.service

[Service]
User=avahi
Group=avahi
Type=forking
ExecStart=/usr/bin/python3 /run/avahi-daemon/publish-avahi-aliases.py

[Install]
WantedBy=multi-user.target
